# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: mypool

variables:
  imageName: 'stackbox-java-app'

steps:
- script: mvn clean package
  displayName: ' Java App Build'

- script: |
    docker build -t $(imageName) .
    docker tag $(imageName) stackboxacr.azurecr.io/$(imageName)
    az acr login --name stackboxacr
    docker push stackboxacr.azurecr.io/$(imageName)
  displayName: ' Build & Push to ACR'

